<section
  id='home'
  class='text-foreground flex flex-col justify-center items-center gap-8 text-center h-[90vh] py-16 md:px-[5.5vw] mx-auto'
>
  <h1 class='text-4xl md:text-5xl font-extrabold px-8 uppercase leading-[3rem] tracking-[0.2rem]'>
    Hey, I'm Sadik Saifi
  </h1>
  <p class='leading-8 md:text-xl text-altforeground'>
    <span>A skilled&nbsp</span>
    <span class='text-primary font-bold'>Web Developer&nbsp</span><span>creating
    stunning, user-friendly websites and web applications with expertise
    of web technologies, various programming languages and frameworks.</span>
  </p>
  <a href='#contact'
    class='bg-primary text-foreground hover:bg-altprimary px-16 pt-[0.8rem]
    md:px-20 py-[.5rem] md:py-4 rounded-lg text-sm md:text-lg 
    font-bold uppercase mt-4 shadow-slate-50'
    type='button'
  >
    Contact Me !
  </a>
  <a href='#about'
    id='mouse'
    class='hidden md:block absolute bottom-4 w-[1px] px-[10px] py-[1px] h-[35px] border-2 border-altforeground hover:border-primary rounded-[25px] box-content opacity-75 mx-auto'
  >
    <div class='w-[3px] h-[10px] rounded-[25%] mt-2 bg-altforeground hover:bg-primary animate-bounce' />
  </a>
</section>
